{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>도넛 크롤러</title>
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Load c3.css -->
	<link href="{% static 'c3-0.4.11/c3.min.css' %}" rel="stylesheet" type="text/css">
	<!-- Load d3.js and c3.js -->
	<script src="{% static 'c3-0.4.11/d3.v3.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'c3-0.4.11/c3.min.js' %}"></script>
	{% block style %}
	{% endblock %}
</head>
<body>
	<div class="page-header">
        <h2 class="text-center">도넛 크롤러</h2>
        <div class="pull-right">
        </div>
    </div>

	{% block content %}
	{% endblock %}

	{% block script %}
	{% endblock %}
</body>
</html>