{% extends 'donutapp/base.html' %}
{% load staticfiles %}

{% block donutImg %}
    {% if word.img %}
      <img src="{{ MEDIA_URL }}{{ word.img.url }}" alt="{{ word.img.url }}" class="img-rounded" style="height:300px;
    width:80%;">
    {% else %}
      <img src="{% static 'img/no.png' %}" alt="default" class="img-rounded" style="height:300px;
    width:80%;">
     {% endif %}
{% endblock %}

{% block content %}
<div id="chart"  style="margin-top:7%;"></div>
{% endblock %}

{% block script %}
{% if columns %}
<script type="text/javascript">
    var columns_json = '{{ columns | safe }}';
    console.log(columns_json);
    var col = JSON.parse(columns_json);
    console.log(col);

    var chart = c3.generate({
        data: {
            x: 'x',
            columns: col
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        }
    });
</script>
{% endif %}
{% endblock %}
